.good-words #content { border-color : $goodwords-colour; }
.good-words .divider,
.good-words .footer-content { background-color : $goodwords-colour; }
.good-words footer svg path { fill : $goodwords-colour; }

#good-words {
    .divider {
        margin-left: -20%;
        width: 40%; 

        @include breakpoint( $mq-medium ) {  margin-left: -35%; width: 70%; }
        @include breakpoint( $mq-small ) { 
            margin-left: -47.5%;
            width: 95%;
        }
    }

    > .inner { 
        margin-top: 110px; 
        @include breakpoint( $mq-small ) { margin-top: 40px;}
        @media screen and (max-height: 400px) { margin-top: 40px;}
    }

    .content { 
        margin:100px auto 200px; 
        max-width:40%; 
        line-height:30px;
        color:$navy;

        @include breakpoint( $mq-medium ) {  max-width:70%; }
        @include breakpoint( $mq-small ) { 
            margin: 40px auto;
            max-width: 95%;
        }

        .words {


            h2 {
                color:$goodwords-colour;
                margin-bottom: 25px;
                font-size: 40px;
            }

            margin: 0 0 10px;

            .word { 
                background: $beige;
                margin: 0 0 8px;
                padding: 3em 0;

                .date{
                    color: #ddd8c7;
                    font-size: 14px;
                }
                p {
                    padding: 5px 10%;
                    &:first-letter {
                        font-size: 22px;
                        color: $goodwords-colour; 
                    }
                    /* @include breakpoint( $mq-small ) { 
                        font-size: 13px;
                        line-height: 25px;
                        letter-spacing: 1px;
                    } */
                } 
            }
        }
    }

    .icon{
        svg path { fill: $beige; }
        svg circle { stroke: $beige; }
        &:hover {
            svg path { fill: $goodwords-colour; }
            svg circle { stroke: $goodwords-colour; }
        }
    }
}

    // extend scroll bar
    .good-words .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .good-words .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background: $goodwords-colour; }
    .good-words .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ border-color: $goodwords-colour; }
 
    // extend menu
    #menu-item-good-words.current-menu-item a,
    #menu-item-good-words:hover a  { color: $goodwords-colour; }
    #menu-item-good-words.current-menu-item svg path ,
    #menu-item-good-words:hover svg path { stroke : $goodwords-colour; }
 