/* =Home
----------------------------------------------- */
    
.home #content { 
    .content-wrap {
        margin: 30px auto 140px;
        @include breakpoint(800px) { margin: 0px auto 140px; }
    }
    
    border-color : $home-colour;
}
.home .divider,
.home .footer-content { background-color : $home-colour; }
.home footer svg path { fill : $home-colour; }
  
#home h1 {
    font-size: 2.4em;
    color: $about-colour; 
    letter-spacing: 0em;
    @include skew( $skew-x , -2deg );
    @include breakpoint( 500px) { font-size: 1.8em; }

    span {
        font-size: 0.65em;
        padding-left: 2px;
        border-bottom: 4px solid;
        top: -0.4em;
        position: relative;
    }
}
#home .social-media-icons {  
    @include skew( $skew-x , -2deg );
}

#home .logo-wrap { 
    width: 260px;
    margin:0 auto 70px;
    display: block;
    @include breakpoint( 800px) { margin:0 auto 45px; }
    @include breakpoint( 500px) { margin:0 auto 20px; }
} 
 

#home .content { 
    max-width: 40%;
    margin: 10px auto;
    @include breakpoint( 800px) { max-width: 65%; }
    @include breakpoint( 500px) { margin-top: 20px; max-width: 85%;}

    .intro {
        position: relative;
        border: 2px solid $beige;
        padding: 2px;
        @include skew( $skew-x , -2deg );

        .inner {
            background: rgba($beige,1);
            p {
                text-align: center;
                font-size: 17px;
                line-height: 1.6;
                padding: 2em 2.5em 2.5em;
                color: $navy;
                @include skew( $skew-x , 2deg );
                @include breakpoint( 500px) { font-size: 15px; padding: 1.5em 0.5em;}

                &:first-letter {
                    font-size: 20px;
                    color: $about-colour; 
                }
            }
        }
    }
}
 
.logo-wrap { position: relative; }
.logo-wrap > div {
    top: 0;
    position: absolute;
}

#logo {
    height: 100%;
    width: 100%;

    path, polygon {
        fill: $beige;
    }
} 

#logo-text { z-index:1 }

#home {
    .icon{
        svg path { fill: $beige; }
        svg circle { stroke: $beige; }
        &:hover {
            svg path { fill: $about-colour; }
            svg circle { stroke: $about-colour; }
        }
    }
}

    // extend menu
    #menu-item-home.current-menu-item a,
    #menu-item-home:hover a  { color: $home-colour; }
    #menu-item-home.current-menu-item svg path ,
    #menu-item-home:hover svg path { stroke : $home-colour; }
 
    // extend scroll bar
    .home .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .home .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background: $about-colour; }
    .home .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ border-color: $about-colour; }



