/* =Preloader
----------------------------------------------- */
.preloader {
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    position: absolute;
    z-index: 9999;

    h1 {
        position: absolute;
        width: 42px;
        border-bottom: 4px solid;
        margin: 40px 0 0 -22px;
        font-size: 20px;
        left: 50%;
        color: $about-colour;
        z-index: 1;
    }

    .outer{
        z-index:0;
        width: 120px;
        height: 120px;
        border: $base-border;
        @include apply-origin( 50% 50%, true );
        @include animation( counter-clock  16s  linear both  );

        .inner-box{
            width: 100px;
            height: 100px;
            left: 50%;
            top: 50%;
            margin: -50px 0 0 -50px;
            position: absolute;
            background: $beige;
            overflow: hidden;

            @include apply-origin( 50% 50%, true );
            @include animation( counter-clock  16s  linear both  );
        }
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes counter-clock {
    from {
        @include rotate( 0deg );
    }
    to {
        @include rotate( -360deg );
    }
}

/* Standard syntax */
@keyframes clock {
    from {
        @include rotate( 0deg );
    }
    to {
        @include rotate( 360deg );
    }
}