/* =Menu
----------------------------------------------- */


.navigation-main {
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    
    margin-bottom:10px;
    height: 22px;
    margin: 0 auto;
    display: block; 
    width: 500px;


    @include breakpoint( 800px) { 
        width: 100%;
    }
    svg { 
        display: block;
        @include breakpoint( 800px) { 
            display: none;
        }
    }
}
.navigation-main ul h5{
    display: block;
}
.navigation-main ul {
    list-style: none;
    margin: 0;
    padding-left: 0; 
}
.navigation-main li { 
    float: left;
    position: relative;
    margin-right: 10px;
    font-family: georgia;
    font-style: italic;
    width: 70px;
    font-size: 12px;
    &:nth-child(4n){width: 80px;}

    @include breakpoint( 800px) { 
        letter-spacing: 2px;
        float: none;
        margin-right: 0px;
        width: 100%;
        font-style: normal;
        font-family: "Arbutus Slab",serif;
        &:nth-child(4n){width: 100%;}
        font-size: 13px;
        padding: 17px 0 7px;
        background: url("svg/wavve01.svg") repeat-x;
        &:first-child{ 
            background: none; 
            padding:0 0 7px;
        }
    }
}

.navigation-main li:last-child { margin-right: 0;} 

.navigation-main a {
    text-decoration: none;
    display: block;
    color:#fefbf2;
}
.navigation-main ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    position: absolute;
    top: 1.5em;
    left: 0;
    z-index: 99999;
}
.navigation-main ul ul ul {
    left: 100%;
    top: 0;
}
.navigation-main ul ul a { width: 200px; }
.navigation-main ul ul li {}

.navigation-main li:hover > a { }
.navigation-main ul ul :hover > a { }
.navigation-main ul ul a:hover {}

.navigation-main ul li:hover > ul {
    display: block;
}
.navigation-main li.current_page_item a,
.navigation-main .current-menu-item a { cursor: default; }

/* Small menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

    // .menu-toggle,
    // .main-small-navigation .nav-menu.toggled-on { @include breakpoint( 800px) { display: block; float: right; } }

.main-small-navigation ul { display: none; }